<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>REGISTRATION FORM</title>
  </head>
  <!--adding the header to the registration page
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
  
        </div>
      </div>
    </nav>
  </header>

  <body class="border border-top border-right border-bottom border-left border-warning " > 
    
  We no longer need to add the above code that doesn't include the conditional since we set user to null in server-->
    <%- include('partials/_header') %>

      <h1> CREATE AN ACCOUNT</h1>

      <a class="navbar navbar-light" href="/login"> LOGIN</a>

  <div class="form-group" >
    <main style="margin: 1em;">
      <form 
        action="/register" 
        method="POST">
      <label for=email>email: </label>
      <input 
        class="form-control" 
        type="email" 
        value="" 
        name="email"
        placeholder="Please enter a valid email address"
        style="width: 50%; margin: 1em; color: rgb(255, 145, 0)">
    </div>
    
    <div class="form-group" >
    <main style="margin: 1em;">
      <form 
        action="/register" 
        method="POST">
      <label for=password>password:  </label>
      <input 
      class="form-control" 
      type="password" 
      value="" 
      name="password"
      placeholder="Please enter a password"
      style="width: 50%; margin: 1em; color: purple">
      </div>

      <div>
      <button type="submit" class="btn btn-primary">REGISTER</button>
      </div>
      </form>
      <!-- -->


    </main>
      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>